.ICEauthority
.RData
.Rhistory
.Rproj.user
.Xauthority
.bash_history
.bash_profile
.bash/history
.forward
.lesshst
.octave_hist
.p4*
.vim/.netrwhist
.vim/view
.viminfo
.zcompdump
.zsh/history
AppData/
Desktop/
Downloads/
Favorites/
Links/
NTUSER.DAT*
Perforce/
Searches/
_viminfo
ntuser.*
octave-core
