# -----------------------------------------------
# Shell Aliases
# -----------------------------------------------


## for administration
alias yum='sudo yum'

alias mountBleed='/sbin/mount.cifs //pallada/bleed ~/mnt/windows/bleed -o uid=imennov,gid=icsl,file_mode=0600,dir_mode=0755'

## Command Aliases
alias r='screen -R'
alias vi='vim'

# For Mac OS X's fink GNU version of LS
if [[ -f /sw/bin/ls ]]; then
	alias ls='/sw/bin/ls -lc --color=auto --no-group --human-readable --file-type'
	alias la='/sw/bin/ls -lc --color=auto --almost-all --no-group --human-readable --file-type'
else
	# GNU UNIX:
	#alias ls='ls --color=auto -F -p'
	#alias la='ls -lAF --color=auto'

	# Darwin, OSX:
	alias ls='ls -lc -G -h'		# os x (NSI: builtin)

fi


alias matlab='matlab -nodesktop -nosplash'

alias sls='screen -ls'
alias cdw='cd ~/work/Source\ Code'
alias e='smartextract'
alias o='open'

alias less='less -r'
alias tree='tree -C -A --dirsfirst --noreport -s'

alias du='du -h'
alias xterm='xterm -fn 9x15 -bg black -fg goldenrod1'

alias mv='mv -i'
alias cp='cp -i'
alias rm='rm -i'

alias mmv='noglob zmv -W'
# use as  
#	find . -depth | ccp ~/mnt/hippo
alias ccp='cpio --pass-through --preserve-modification-time --make-directories
--verbose'

alias cdp=pushd


alias find='noglob find'



## Pipe Aliases (Global)
alias -g L='|less'
alias -g G='|grep'
alias -g T='|tail'
alias -g H='|head'
alias -g W='|wc -l'
alias -g S='|sort'

## Shell Aliases

# UPenn
alias srvr='ssh user@server.example.com'

## Special Root Aliases
[ $UID = 0 ] && \
	alias m='make' && \
	alias mi='make install' && \
	alias rm='rm -i' && \
	alias mv='mv -i' && \
	alias cp='cp -i'
